@page
@model AuctionWebApp.Pages.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Auction Home Page";
}

<h1>Auction Home Page</h1>

<p>
    <a href="/AuctionItems">View Auction Items</a>
</p>
